@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kumar+One&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

.background {
  position: fixed;
  top: 3%;
  left: 0;
  width: 100%;
  height: 95vh;
  background-image: url("./public/BG.webp");
  background-size: 95%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: grayscale(100%) contrast(120%);
  z-index: -1; /* 让它保持在最底层 */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 7%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kumar one", serif;
  color: white;
  padding: 100px 20px;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
}

.memory-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 10px 20px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
}

.index-page .logo-container {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1000;
}

.members-page .logo-container {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1000;
}

.logo {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
  color: #eee;
  text-decoration: none;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* 统一间距 */
  list-style: none;
  cursor: pointer;
  padding: 0;
}

.header-menu li {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
  color: #eee;
  min-width: 120px; /* 确保每个 menu 选项宽度一致 */
  text-align: center; /* 文字居中 */
  padding: 5px 10px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
  transition: color 0.3s ease;
}

.header-menu li.active {
  color: white;
}

.header-menu li:hover {
  color: purple;
}

#content {
  width: 70%;
  margin-left: 7%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: height 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.content-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  padding: 20px;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  padding: 20px;
  justify-content: center;
}

.case {
  display: flex;
  flex-direction: column;
  width: 100%; /* 让 case 占满网格 */
  min-height: 250px; /* 保持高度一致 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.case img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  border-radius: 8px;
  transition: filter 0.5s ease;
}

.case:hover img {
  filter: grayscale(0%);
}

.modal {
  display: none; /* 默认隐藏 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000;
  text-align: center;
}

.modal img {
  width: 100%;
}

.modal-button {
  display: inline-block;
  background: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */