@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}
.background {
    position: fixed;
    top: 3%;
    left: 2.5%;
    width: 95%;
    height: 95vh;
    background-image: url('./public/BG.webp');
    background-size: 95%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: grayscale(100%) contrast(120%);
    z-index: -1; 
}

.slogan {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateX(-50%);
    font-family: "Kumar One", serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.85); 
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 7%;
    left: 0;
    width: 7%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;;
    font-family: "Kumar one", serif;
    color: white;
    padding: 6vh 20px;
    overflow: hidden;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block; 
    padding: 10px;
}

.memory-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 10px 20px;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}

.index-page .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1000;
}

.members-page .logo-container {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1000;
}

.logo {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #eee;
    text-decoration: none;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* 统一间距 */
    list-style: none;
    cursor: pointer;
    padding: 0;
}

.header-menu li {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
    color: #eee;
    min-width: 120px; 
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0;
    transition: color 0.3s ease;
}

.header-menu li.active { 
    color: white;
}
  
.header-menu li:hover {
    color: purple;
}

#content {
    width: 70%;
    margin-left: 7%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: height 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.content-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 20px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    padding: 20px;
    justify-content: center;
}

.case {
    display: flex;
    flex-direction: column;
    width: 100%; 
    min-height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.case img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 8px;
    transition: filter 0.5s ease;
}
.case:hover img {
    filter: grayscale(0%);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px;
    background: #111;
    color: #eee;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}
.modal img {
    width: 100%;
}
.modal-button {
    display: inline-block;
    background: purple;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    color: purple;
    cursor: pointer;
}

.members-page {
    padding-top: 5%;
}

.members-cards {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr; 
    background-color: #111;
    color: white;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center; 
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.member-name {
    order: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 20px;
}

.members-cards img {
    order: 2;
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(40%);
    transition: filter 0.5s ease-in-out;
}

.members-cards img:hover {
    filter: grayscale(10%);
}

.member-box {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.members-cards:nth-child(even) {
    grid-template-columns: 5fr 2fr 1fr;
}

.members-cards:nth-child(even) .member-name {
    order: 3; 
}

.members-cards:nth-child(even) .members-cards img {
    order: 2; 
}

.members-cards:nth-child(even) .member-box {
    order: 1;
}

.member-box-title {
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.member-box-desc {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.8;
}

.member-box-instagram {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 15px;
    font-family: monospace;
    border-radius: 8px;
    text-transform: uppercase;
    transition: background 0.3s ease, color 0.3s ease;
}

.member-box-instagram:hover {
    background: white;
    color: black;
}

.instagram-button {
    position: absolute;
    top: 76%;
    left: 41.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px;
    border-radius: 5px;
}

.instagram-button img {
    width: 60%;
    height: auto;
}

.instagram-button:hover {
    transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
    .background {
        background-position: 40.5% center;
    }
    .sidebar {
        width: 20%; 
        padding: 50px 10px;
    }

    .slogan {
        font-size: 1rem;
        width: 90%;
        left: 50%;
        bottom: 10%;
        padding: 8px 15px;
    }

    #content {
        width: 85%;
        margin-left: 15%; 
        padding: 10px;
    }

    .gallery {
        grid-template-columns: 1fr; 
        gap: 10px; 
        padding: 10px;
    }

    .case img {
        height: auto; 
        max-width: 100%;
    }

    .modal {
        width: 90%;
        max-width: none;
    }

    .members-cards {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 15px;
        width: 90%;  
    }

    .member-box {
        text-align: center;
        width: 100%;
        padding: 10px;
    }

    .member-name {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-top: 10px;
    }

    .members-cards:nth-child(even) .member-name {
        order: 1; 
    }
    
    .members-cards:nth-child(even) .members-cards img {
        order: 2; 
    }
    
    .members-cards:nth-child(even) .member-box {
        order: 3; 
    }

    .instagram-button {
        top: 69.5%;
        left: 41.9%;
    }
}
